body{
    padding:0;
    margin:0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: rgb(18,139,75);
    background: linear-gradient(90deg, rgba(18,139,75,1) 5%, rgba(101,119,32,1) 14%, rgba(112,92,96,1) 32%, rgba(116,69,136,1) 45%, rgba(88,144,133,1) 56%, rgba(84,151,168,1) 70%, rgba(117,134,162,1) 83%, rgba(49,148,194,1) 91%, rgba(159,172,158,1) 99%);
}
.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    
}
button{
    width: 95%;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 0 15px white;
    font-weight: bold;
    font-size: 12px;
    background-color: green;
    color: white;
    letter-spacing: 2px;
    border: 1px solid black;
    
    cursor:pointer;

}
input{
    width: 85%;
    padding: 10px 15px;
    font-size: 12px;
    border-radius: 12px;
    margin-bottom: 10px;
    border: 2px solid black;
   
    
}
button:hover{
  
    background-color: #06b406;
}
button:active{
    background-color: #2e562e;
}
.contents{

    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    padding: 10px;
    justify-content: space-between;

}
img{
    width: 8vw;

}
.country-flags{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;

}
.flags{
    width: 40%;
    box-shadow: 0 0 15px;
    height: 35vh;
    padding: 20px;
   
    background-color: #ffffff;
    color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.country-description{
    width: 40%;
    box-shadow: 0 0 15px;
    height: 35vh;
    padding: 20px;
    border-radius: 20px;
    
    background-color: #ffffff;
    color: black;
}
.images{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.inputs{
    height: 90vh;
    width: 25%;
    margin: 20px;
    box-shadow: 0 0 15px;
    padding: 10px;
    border-radius: 20px;
    background-color: #ffffff;
    color: black;
}
.weather{
    width: 40%;
    box-shadow: 0 0 15px;
    height: 35vh;
    padding: 20px;
    border-radius: 20px;
   
    background-color: #ffffff;
    color: black;
    
}
#error{
    position: absolute;
    top: 30px;
    left: 35%;
    text-align: center;
    background-color: #ff000054;
    padding: 10px 30px;
    width: 30%;
    display: none;
    font-size: 12px;
}